<!DOCTYPE html>
<html lang="en">

<body>
    <h2>{{category}}</h2>
    <br>
    
    {% for news in newsCollection %}
        <h3>{{news.title}}</h3>
        {% for _ in range(0, titleBlankLines) %}
            <br>
        {% endfor %}

        <p>{{news.summary}}</p>
        {% for _ in range(0, summaryBlankLines) %}
            <br>
        {% endfor %}
        
        <a href="{{news.url}}"><small>{{news.title}}</small></a>
        {% for _ in range(0, urlBlankLines) %}
            <br>
        {% endfor %}  
    {% endfor %}
    

</body>

</html>