<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Collection Template</title>
</head>
<body style="font-family: 'Courier New', Courier, monospace;">
    <div style="text-align: center;" class="newsCategory">
        <h2>{{category}}</h2>
    </div>
    <br>
    
    <div class="newsItems">
        
        {% for news in newsCollection %}
            <h3 style="text-align: center;" class="newsTitle">{{news.title}}</h3>
    
            {% for _ in range(0, titleBlankLines) %}
                <br>
            {% endfor %}
    
            <p style="text-align: justify;;" class="newsSummary">{{news.summary}}</p>
    
            {% for _ in range(0, summaryBlankLines) %}
                <br>
            {% endfor %}
        
            <a style="text-align: justify;" class="newsUrl" href="{{news.url}}"><small>{{news.title}}</small></a>
    
            {% for _ in range(0, urlBlankLines) %}
                <br>
            {% endfor %}
        {% endfor %}
        
    </div>
    
</body>
</html>